<div class="container">
  <div class="row">
    <div class="col">
      <h1>Laboratories#edit</h1>
      <p>Find me in app/views/laboratories/edit.html.erb</p>

      <%= simple_form_for(@laboratory, url: laboratory_path(@laboratory), method: :put) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs" style="width: 75%;">
          <%= f.input :name, placeholder: "Enter Laboratory name" %>
          <%= f.input :location, placeholder: "Location" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
